@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer utilities {
  code:before {
    content: normal !important;
  }

  code:after {
    content: normal !important;
  }

  .scrollbar-thin-zinc {
    scrollbar-width: thin;
    scrollbar-color: var(--color-zinc-700) transparent;
  }
  .scrollbar-thin-zinc::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin-zinc::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin-zinc::-webkit-scrollbar-thumb {
    background-color: var(--color-zinc-700);
    border-radius: 9999px;
  }
}

.footnotes li>p {
  margin: 0;
  display: flex;
  align-items: baseline;
  overflow: hidden;
  gap: 0.5rem;
}

.footnotes li>p>*:not([data-footnote-backref]) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.footnotes li>p>a[data-footnote-backref] {
  flex-shrink: 0;
  margin-left: 0.25em;
}

sup+sup a[data-footnote-ref="true"] {
  margin-left: 0.25rem;
}

.main {
  min-height: calc(100dvh - 60px - 237px);
}

.alert .link {
  @apply text-pink-700;
}

.prose :where(h5 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}